@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &-inner {
    width: 481px;
    height: 392px;
    background: #f7f5f9;
    border-radius: 12px;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
    form {
      display: flex;
      flex-direction: column;
      padding: 40px;
      h1 {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 20px;
        color: #3b3d43;
      }
      input {
        width: 401px;
        height: 48px;
        padding: 14px;
        margin-top: 25px;
        box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
        border-radius: 6px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #3b3d43;
        &:focus,
        &:hover {
          border: 1px solid #854fc8;
        }
      }
      input::placeholder {
        color: #d0c9d6;
      }
      input[type="text"] {
      }
      input[type="submit"] {
        background: #6979f8;
        box-shadow: initial;
        color: #ffffff;
        font-size: 17px;
        line-height: 22px;
        cursor: pointer;
        &:focus,
        &:hover {
          border: initial;
        }
      }
    }
  }
}
